# Importing the Pandas library

In [1]:
import pandas as pd

# Loading Data with Pandas
Pandas provides several functions to load data from different file formats and sources. Here are some commonly used functions to load data with Pandas:
1. **read_csv():** This function is used to load data from a CSV file. You can specify the file path, column delimiter, and other parameters such as header, index, and data types.
2. **read_json():** This function is used to load data from a JSON file. You can specify the file path and other parameters such as orient, dtype, and convert_dates.
3. **read_excel():** This function is used to load data from an Excel file. You can specify the file path, sheet name or index, and other parameters such as header, index, and data types.
4. **read_sql():** This function is used to load data from a SQL database. You can specify the database connection string, SQL query, and other parameters such as index, chunksize, and dtype.

# JSON

In [2]:
import json

# Creating a sample DataFrame
data = {'Name': ['Hafiz Hassan Mustafa', 'Ahsan', 'Faraz'], 'Age': [25, 30, 35],
        'city': ['New York', 'Los Angeles', 'Chicago'], 'File Type': ['JSON','JSON','JSON']}


# Write the JSON object to a file
with open('data.json', 'w') as f:
    json.dump(data, f)

In [3]:
# Read the JSON file into a DataFrame
df = pd.read_json('data.json')

print(df)

                   Name  Age         city File Type
0  Hafiz Hassan Mustafa   25     New York      JSON
1                 Ahsan   30  Los Angeles      JSON
2                 Faraz   35      Chicago      JSON

# Excel

In [4]:
#Creating a DataFrame for Excel file
data = {'Name': ['Hafiz Hassan Mustafa', 'Ahsan', 'Faraz'], 'Age': [25, 30, 35],
        'city': ['New York', 'Los Angeles', 'Chicago'], 'File Type': ['Excel','Excel','Excel']}
df = pd.DataFrame(data)

# Save the DataFrame to an Excel file
df.to_excel('data.xlsx', index=False)

In [5]:
# Read the Excel file into a DataFrame
df = pd.read_excel('data.xlsx')
print(df)

                   Name  Age         city File Type
0  Hafiz Hassan Mustafa   25     New York     Excel
1                 Ahsan   30  Los Angeles     Excel
2                 Faraz   35      Chicago     Excel

# CSV

In [6]:
#Creating a DataFrame for CSV file
data = {'Name': ['Hafiz Hassan Mustafa', 'Ahsan', 'Faraz'], 'Age': [25, 30, 35],
        'city': ['New York', 'Los Angeles', 'Chicago'], 'File Type': ['CSV','CSV','CSV']}
df = pd.DataFrame(data)

# Save the DataFrame to an CSV file
df.to_csv('data.csv', index=False)

In [7]:
# Read the CSV file into a DataFrame
df = pd.read_csv('data.csv')
print(df)

                   Name  Age         city File Type
0  Hafiz Hassan Mustafa   25     New York       CSV
1                 Ahsan   30  Los Angeles       CSV
2                 Faraz   35      Chicago       CSV

# SQL

In [31]:
import sqlalchemy as sqla
import sqlite3

In [32]:
data = pd.DataFrame({'Name': ['Hafiz Hassan Mustafa', 'Ahsan', 'Faraz'], 'Age': [25, 30, 35],
                     'city': ['New York', 'Los Angeles', 'Chicago']})
data

                   Name  Age         city
0  Hafiz Hassan Mustafa   25     New York
1                 Ahsan   30  Los Angeles
2                 Faraz   35      Chicago

In [33]:
#We will use sqlite3 library and create a connection
cnn = sqlite3.connect('jupyter.db')

In [34]:
df.to_sql('people', cnn)

3

In [35]:
#load the sql module to python

%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [36]:
%sql sqlite:///jupyter.db

'Connected: @jupyter.db'

In [37]:
%%sql

SELECT *
FROM people

 * sqlite:///jupyter.db
Done.

[(0, 'Hafiz Hassan Mustafa', 25, 'New York', 'CSV'),
 (1, 'Ahsan', 30, 'Los Angeles', 'CSV'),
 (2, 'Faraz', 35, 'Chicago', 'CSV')]

In [38]:
%%sql

SELECT count(*)
FROM people

 * sqlite:///jupyter.db
Done.

[(3,)]

In [39]:
# Import the necessary libraries and create a database connection
import sqlite3

conn = sqlite3.connect('jupyter.db')
c = conn.cursor()

# Execute the DROP TABLE statement to delete the table named "people"
c.execute('DROP TABLE IF EXISTS people')

# Commit the changes and close the connection
conn.commit()
conn.close()