# Importing Python libraries

In [1]:
import pandas as pd

# Combining Datasets
Concatenating DataFrames allows you to combine two or more DataFrames into a single DataFrame. You can concatenate DataFrames horizontally (along columns) or vertically (along rows).

To concatenate DataFrames vertically, use the **concat()** function from the pandas library.

In [2]:
df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df2 = pd.DataFrame({'A': [5, 6], 'B': [7, 8]})

# concatenate the DataFrames vertically
result_1 = pd.concat([df1, df2])
print(result_1)

   A  B
0  1  3
1  2  4
0  5  7
1  6  8

In [3]:
#To concatenate DataFrames horizontally, set the axis parameter to 1
result_2 = pd.concat([df1, df2], axis=1)
print(result_2)

   A  B  A  B
0  1  3  5  7
1  2  4  6  8

# Merging DataFrames
Merging DataFrames allows you to combine two or more DataFrames based on a common column or index. To merge DataFrames, use the **merge()** function from the pandas library.

In [4]:
#We merged the two DataFrames df1 and df2 based on the 'key' column,
#And only the rows where the 'key' column had a common value were included in the result...

df1 = pd.DataFrame({'key': ['A', 'B', 'C', 'D'], 'value': [1, 2, 3, 4]})
df2 = pd.DataFrame({'key': ['B', 'D', 'E', 'F'], 'value': [5, 6, 7, 8]})

# merge the DataFrames based on the 'key' column
result = pd.merge(df1, df2, on='key')
print(result)

  key  value_x  value_y
0   B        2        5
1   D        4        6

# Reshaping Data
Reshaping data in Python is a common task when working with data. There are several ways to reshape data, including:
1. Transposing data allows you to swap rows and columns in a DataFrame. To transpose a DataFrame, use the **transpose()** method or the .T attribute.
2. Melting data allows you to transform a DataFrame from wide format to long format by unpivoting data. To melt a DataFrame, use the **melt()** function from the pandas library.
3. Pivoting data allows you to transform a DataFrame from long format to wide format by creating a new column for each unique value in a specified column. To pivot a DataFrame, use the **pivot()** or **pivot_table()** function from the pandas library.

In [5]:
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})
print(df)
print("----------")
# transpose the DataFrame
transposed_df = df.transpose()
print(transposed_df)

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9
----------
   0  1  2
A  1  2  3
B  4  5  6
C  7  8  9

In [6]:
df = pd.DataFrame({'Name': ['John', 'Mary', 'Peter'],
                   'Math': [90, 80, 70],
                   'Science': [85, 75, 65]})
print(df)
print("------------------------")
# melt the DataFrame
melted_df = pd.melt(df, id_vars=['Name'], var_name='Subject', value_name='Score')
print(melted_df)

    Name  Math  Science
0   John    90       85
1   Mary    80       75
2  Peter    70       65
------------------------
    Name  Subject  Score
0   John     Math     90
1   Mary     Math     80
2  Peter     Math     70
3   John  Science     85
4   Mary  Science     75
5  Peter  Science     65

In [7]:
df = pd.DataFrame({'Name': ['John', 'Mary', 'Peter', 'John', 'Mary', 'Peter'],
                   'Subject': ['Math', 'Math', 'Math', 'Science', 'Science', 'Science'],
                   'Score': [90, 80, 70, 85, 75, 65]})
print(df)
print("-------------------------------")
# pivot the DataFrame
pivoted_df = df.pivot(index='Name', columns='Subject', values='Score')
print(pivoted_df)

    Name  Subject  Score
0   John     Math     90
1   Mary     Math     80
2  Peter     Math     70
3   John  Science     85
4   Mary  Science     75
5  Peter  Science     65
-------------------------------
Subject  Math  Science
Name
John       90       85
Mary       80       75
Peter      70       65